@page
@model TorreControlCspharma.Pages.ErrorPageModel
@{
    Layout = null;
}
@{
}
<link rel="stylesheet" href="~/css/ErrorPage.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/fontawesome/dist/css/all.min.css" asp-append-version="true" />
<div class="hamburger-menu">
  <button class="burger" data-state="closed">
    <span></span>
    <span></span>
    <span></span>
  </button>
</div>

<main>

      <div class="col-md-6 align-self-center">
        <h1>404</h1>
        <h2>Ha habido un error inesperado, estamos arreglandolo, vuelve mas tarde.</h2>
        <p>
          
        </p>
        <a asp-page="./Index">MENU</a>
      </div>
    
  
</main>