@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/fontawesome/dist/css/all.min.css" asp-append-version="true" />
	<meta charset="UTF-8">
	<title>Bienvenido a Cspharma</title>
	
</head>
<body>
	<video autoplay loop muted>
		<source src="~/videos/indexVideo2.mp4" type="video/mp4">
	</video>
	<div class="message">
		Bienvenido a Cspharma
	</div>

</body>

</html>
